# ignore prep folder
/workspace/project_prep/

# build files
*.o
server

build/
*.log

# env files
.env
.env.*
!.env.example
!.env.production.example

.devcontainer/

# mac
.DS_Store

# vscode
.vscode/
